@font-face {
    font-family: "Anime Ace";
    src: url(Assets/Fonts/animeace2bb_tt/animeace2_reg.ttf);
}

@font-face {
    font-family: "Anime Ace Bold";
    src: url(Assets/Fonts/animeace2bb_tt/animeace2_bld.ttf);
}

body {
    overflow-x: hidden;
    font-family: "Francois One", sans-serif;
}

#hero {
    padding: 3.375rem 5rem;
    height: 100vh;
    position: relative;
}

.hero--wrapper {
    display: flex;
    justify-content: flex-end;
}

#hero::before,
#personagens::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 18rem;
    display: block;
    left: 0;
}

#hero::before {
    background: url(Assets/SVGs/top.svg) no-repeat;
    bottom: 0;
}

#personagens::before {
    background: url(Assets/SVGs/bottom.png) top/100% no-repeat;
    top: 0;
}

.hero--content {
    margin-right: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    align-items: flex-end;
}

.hero--logo {
    max-width: 43.75rem;
}

.hero--title,
.personagens--title {
    color: var(--colors-base-white, #FFF);
    font: 700 3rem/3rem "Anime Ace Bold", sans-serif;
    letter-spacing: 2.88px;
    position: relative;
    padding: 1.5rem 8rem 1.5rem 3.625rem;
}

.hero--title::after {
    content: "";
    background: url(Assets/SVGs/brush1.svg) center/100% auto no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

#swirl {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

.hero--corner {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main--nav {
    opacity: 0;
    visibility: hidden;
}

.menu .main--nav {
    background-color: #18181B;
    opacity: 1;
    visibility: visible;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 4rem 5rem;
    width: fit-content;
    height: 100%;
    z-index: 999;
}

.main--nav a {
    text-decoration: none;
    color: inherit;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

/* ======================== */

#personagens {
    min-height: 100vh;
    position: relative;
    background: url(Assets/Images/personagens__fundo.png) top/cover no-repeat fixed;
    padding-top: 16.25rem;
    padding: 16.25rem 5rem 0rem 5rem;
}

.personagens--title {
    width: fit-content;
    z-index: 1;
    padding: 2.125rem 4.4375rem 2.125rem 6.25rem;
}

.personagens--title::before {
    content: "";
    background: url(Assets/SVGs/brush2.svg) top/contain no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.p--wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.personagens--container {
    transition: 0.4s;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 1 1 100%;
    gap: 1.5rem;
}

.thumb {
    display: grid;
    place-items: center;
    width: 8.125rem;
    height: 8.75rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.thumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Assets/Images/Border_Paint.png) center/cover no-repeat;
    z-index: -1;
}

.thumb img {
    transition: 0.4s ease-in-out;
}

.thumb:hover img {
    transform: scale(1.1);
}

.thumb:hover::before {
    animation: spin 1.5s infinite linear;
}

.personagens--frame {
    max-height: 43.75rem;
    max-width: 37.5rem;
    overflow: hidden;
    flex: 0 1 0%;
    transition: 0.8s ease-in-out;
    opacity: 0;
}

.loaded .personagens--frame {
    flex: 0 0 50%;
    border: 2px solid #18181B;
    opacity: 1;
}

.personagens--frame img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}